body {
	font-family: "Abel", sans-serif;
	font-size: 28px;
	background-color: #ffffff;
	color: #000c1a;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 96px;
	font-weight: bold;
	color: #3392ff;
	text-align: center;
}
h2 {
	font-size: 56px;
	font-weight: bold;
	color: #3392ff;
	text-align: center;
}
p {
	font-size: inherit;
	font-family: inherit;
	text-align: inherit; 
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	
}
.center {
	width: 60%; 
	margin-top: 80px; 
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 28;
}
.center img {
	width: 100%;
}
/* pagetitle */
.pagetitle {
	width: 100%;
	max-height: 260px;
	position: relative;
	overflow: hidden;
}
.pagetitle p {
	color: #3392ff;
	font-size: 180px;
	font-weight: bold;
	letter-spacing: 16px;
	text-align: center;
	position: absolute; 
	top: 20px; 
	left: 0px;
	right: 0px;
	margin: 0px;
}
.pagetitle img {
	position: relative;
	width: 100%;
	display: inline-block;
}
/* links */
.links {
	background-color: #3392ff;
	color: #ffffff;
	font-size: 36px;
	font-weight: bold;
	padding-left: 36px;
	padding-right: 40px;
	height: 50px;
}
.links #images {
	float: right;
	margin-bottom: 0px;
}
.links a {
	text-decoration: none;
	color: inherit;
}
.links img {
	height: 50px;
	width: 50px;
}
/* about */
.about { 
	margin-top: 0px;
	padding: 0px;
}
.about h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 280px;
	margin-right: 280px;
}
.about p {
	margin: 0px;
	text-align: center;
	color: #000c1a;
	font-size: 28px; 
}
