@font-face {
	font-family: DeftoneStylus;
	src: url(fonts/DeftoneStylus.ttf);
	font-weight: normal; 
}
/* ??? */
/* @font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
} */
body {
	font-family: "Abel", sans-serif;
	font-weight: normal; 
	font-size: 28px;
	background-color: #ffffff;
	color: #000c1a;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: "Abel", sans-serif;
	font-size: 96px;
	font-weight: normal; 
	color: #3392ff;
	text-align: center;
}
h2 {
	font-family: "Abel", sans-serif;
	font-size: 56px;
	font-weight: normal; 
	color: #3392ff;
	text-align: center;
}
p {
	font-family: "Abel", sans-serif;
	font-size: 23px;
	text-align: inherit; 
	color: #000c1a; 
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	
}

/* posts grid section */
.gridpostwrapper {
	display: flex;
	width: 100%;
	padding: 0px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.gridpostcontent {
	flex: 1;
}
.gridpost {
	background-color: #e6f1ff;
	color: #000000;
	text-decoration: none;
	border-radius: 5px; 
	width: 23.75%;
	padding-top: 23.75%;
	margin-left: 1%;
	margin-bottom: 1%;
	position: relative;
	overflow: hidden;
	float: left;
}
.gridpost img {
	left: -1000%;
	right: -1000%;
	top: -1000%;
	bottom: -1000%;
	min-height: 100%;
	min-width: 100%;
	max-height: 120%;
	position: absolute;
	margin: auto;
}
.gridpost p {
	left: 0px;
	top: 0px;
	width: 84%;
	height: 80%;
	padding: 8%;
	margin: auto;
	position: absolute;
	overflow: hidden;
}
/* page header section */
.pageheader {
	width: 100%;
	max-height: 260px;
	position: relative;
	overflow: hidden;
}
.pageheader p {
	color: #3392ff;
	font-family: DeftoneStylus; 
	font-size: 256px;
	/* super unnecessary amounts of box shadow for a neat 3d effect */
	text-shadow: 
		0px 1px #666688, 
		0.5px 1.5px #666688,
		1px 2px #666688, 
		1.5px 3px #666688,
		2px 4px #666688, 
		2.5px 5px #666688,
		3px 6px #666688, 
		3.5px 7px #666688,
		4px 8px #666688;
	text-align: center;
	position: absolute;
	top: 0px;
	left: -20px;
	right: 0px;
	margin: 0px;
}
.pageheader img {
	position: relative;
	width: 100%;
	display: inline-block;
}
/* links/nav section */
.stuck {
	position: fixed;
	top: 0;
	margin-top: 0;
	z-index: 9999;
	width: 10%;
}
.links {
	box-shadow: 0px 4px #666688; 
	background-color: #3392ff;
	color: #ffffff;
	font-size: 36px;
	height: 50px;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}
.links #text {
	float: left; 
}
.links #images {
	float: right;
}
.links #text a {
	padding: 4px; 
}
.links img {
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}
/* about/bio section */
.about { 
	margin-top: 0px;
	padding: 0px;
}
.about h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 280px;
	margin-right: 280px;
}
.about p {
	color: #000c1a;
	font-size: 26px; 
	text-align: center;
	width:50%; 
	margin:auto;
}
/* page footer */
.pagefooter {
	width: 80%;
	margin: auto; 
}
.pagefooter hr {
	border-width: 2px;
}
.pagefooter p {
	font-size: 24px; 
	text-align: center;
}
