@font-face {
	font-family: DeftoneStylus;
	src: url(fonts/DeftoneStylus.ttf);
	font-weight: normal; 
}
@font-face {
	font-family: Milkshake;
	src: url(fonts/Milkshake.ttf);
	font-weight: normal; 
}
@font-face {
	font-family: Elley;
	src: url(fonts/elley.otf);
	font-weight: normal; 
}
/* @font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
} */
body {
	font-family: "Abel", sans-serif;
	font-weight: normal; 
	font-size: 28px;
	background-color: #ffffff;
	color: #000c1a;
	margin: 0;
	padding: 0;
}
h1 {
	font-family: "Abel", sans-serif;
	font-size: 96px;
	font-weight: normal; 
	color: #3392ff;
	text-align: center;
}
h2 {
	font-family: "Abel", sans-serif;
	font-size: 56px;
	font-weight: normal; 
	color: #3392ff;
	text-align: center;
}
p {
	font-family: "Abel", sans-serif;
	font-size: 28px;
	text-align: inherit; 
	color: #000c1a; 
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	
}
.center {
	width: 60%; 
	margin-top: 80px; 
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 28;
}
.center img {
	width: 100%;
}
.gridpostwrapper {
	width: 100%;
	padding: 0px;
	margin-top: 60px;
}
.gridpost {
	background-color: #e6f1ff;
	color: #000000;
	text-decoration: none;
	border-radius: 3px; 
	width: 23.75%;
	padding-top: 23.75%;
	margin: 0.5%;
	position: relative;
	overflow: hidden;
	float: left;
}
.gridpost img {
	left: -1000%;
	right: -1000%;
	top: -1000%;
	bottom: -1000%;
	min-height: 100%;
	min-width: 100%;
	max-height: 120%;
	position: absolute;
	margin: auto;
}
.gridpost p {
	left: 0px;
	top: 0px;
	width: 84%;
	height: 80%;
	padding: 8%;
	margin: auto;
	position: absolute;
	overflow: hidden;
}
/* pagetitle */
.pagetitle {
	width: 100%;
	max-height: 260px;
	position: relative;
	overflow: hidden;
}
.pagetitle p {
	color: #3392ff;
	font-family: DeftoneStylus; 
	font-size: 256px;
	text-shadow: 
		0px 1px #e6f1ff, 
		1px 2px #e6f1ff, 
		2px 4px #e6f1ff, 
		3px 6px #e6f1ff, 
		4px 8px #e6f1ff;
	text-align: center;
	position: absolute;
	top: 0px;
	left: -20px;
	right: 0px;
	margin: 0px;
}
.pagetitle img {
	position: relative;
	width: 100%;
	display: inline-block;
}
/* links */
.stuck {
	position: fixed;
	top: 0;
	margin-top: 0;
	z-index: 9999;
	width: 10%;
}
.links {
	background-color: #3392ff;
	color: #ffffff;
	font-size: 36px;
	height: 50px;
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}
.links #text {
	float: left; 
}
.links #images {
	float: right;
}
.links #text a {
	padding: 4px; 
}
.links img {
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}
/* about */
.about { 
	margin-top: 0px;
	padding: 0px;
}
.about h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 280px;
	margin-right: 280px;
}
.about p {
	margin: 0px;
	text-align: center;
	color: #000c1a;
	font-size: 28px; 
}
